.right-frame-wrapper {
    position: relative;
    height: 100%;
}

.right-header {
    background-color: var(--secondaryColor);
    min-height: 9vh;
    display: flex;
    align-items: center;
    padding: 0vh 1vw;
}

.typing-field {
    background-color: var(--secondaryColorVariant);
    min-height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.messages-field {
    overflow-y: scroll;
    height: 81vh;
    display: flex;
    flex-direction: column;
}

.right-frame-wrapper.empty>.messages-field {
    overflow-y: initial;
}