.circle {
  --circle-radius: 4px;
  width: var(--circle-radius);
  height: var(--circle-radius);
  background-color: white;
  border-radius: 50%;
}

.kebab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  height: 3vh;
}

.menu-icon {
  margin-left: auto;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-icon.active.primary {
  background-color: var(--primaryColorVariant);
}

.menu-icon.active.secondary {
  background-color: var(--secondaryColorVariant);
}
