.main {
  position: relative;
  background-color: white;
  top: 15vh;
  margin: auto;
  padding: 2vh 20vh;
  width: min-content;
  border-radius: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.wrapper {
  position: relative;
  background-color: transparent;
}

#background {
  position: absolute;
  min-width: 100vw;
  z-index: -100;
}

.background-top {
  position: relative;
  min-height: 35vh;
  background-color: var(--primaryColor);
  /* background-color: #212529; */
}

.background-bottom {
  position: relative;
  min-height: 65vh;
  /* background-color: var(--primaryColorVariant); */
}
