:root {
  --primaryColor: maroon;
  --primaryColorVariant: #b91c36;
  --primaryColorVariant2: var(--primaryColor);
  --primaryColorLight: #d03d56;
  --secondaryColor: orange;
  --secondaryColorVariant: #fcc049;
  --secondaryColorLight: #ffd580;
  --textColorLight: wheat;
  --textColorLightVariant: whitesmoke;
}
