:root {
    --primaryColor: maroon;
    --primaryColorVariant: #b91c36;
    --primaryColorLight: #D03D56;
    --secondaryColor: orange;
    --secondaryColorVariant: #fcc049;
    --secondaryColorLight: #FFD580;

    --textColorLight: wheat;
    --textColorLightVariant: whitesmoke;
}